* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    text-align: center;
    font-size: 3rem;
    font-weight: Arial, Helvetica, sans-serif;
}

.socialicons {
    display: flex;
    margin: 100px;
}
.socialicons .icon {
    width: 80px;
    height: 80px;
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.5);
    margin: 0 30px;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    text-decoration: none;
    color: #000;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

a:after {
    content: '';
    width: 80px;
    height: 80px;
    z-index: -1;
    position: absolute;
    bottom: -80px;
    left: 0;
}

background: linearGradient(to bottom, #8A2387,#E94057, #F27121);
transition: 0.15s;

{
    .socialicons .icon:hover {
        color: #fff;
    }
a:hover::after {
    bottom: 0;
}
}